* {
  margin: 0;
  padding: 0;
}

.boton {
  background-color: #0f1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.reproductor {
  width: 100%;
  height: 600px;
}

/* CSS Body */
body {
  background-color: #171718;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* CSS Home */

.home-container {
  height: 85vh;
  width: 100%;
  margin: 3rem 0 0 0;
}

.movie-page-container {
  height: 100%;
  border-radius: 10px;
  background-size: cover;
}

.background-cover {
  background: linear-gradient(
    90deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(36, 36, 36, 1) 15%,
    rgba(83, 100, 141, 0) 60%
  );
  height: 100%;
  width: 100%;
  padding: 1rem 0 0 3rem;
}

.home-movie-title {
  font-size: 50px;
  margin: 1rem 0;
}

.overview-container {
  height: auto;
  width: 35vw;
  margin: 1rem 0;
}

.overview {
  font-size: 14px;
}

.home-movie-poster {
  height: 17.5rem;
  width: 11.5;
  border-radius: 10px;
}

/* CSS Movies Container */

.row-movies {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 3rem 0 0 0;
  position: relative;
  touch-action: pan-y;
  cursor: grab;
}

.wrapper {
  box-sizing: initial;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  width: 100%;
  z-index: 1;
  cursor: grab;
}

/* CSS Movie card */
.container-movie-card {
  height: auto;
  width: auto;
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  filter: grayscale(30%);
  transition: 0.5s;
}

.container-movie-card:hover {
  filter: grayscale(0%);
  transition: 0.3s;
}

.img-movie {
  cursor: pointer;
  height: 17.5rem;
  width: 11.5;
  border-radius: 10px;
}

a {
  text-decoration: none;
  all: unset;
}

.title-movie-card {
  font-size: medium;
  text-align: center;
  color: aliceblue;
}

/* CSS Nav */

.navigation-container {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
  background-color: #171718;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  border-radius: 8px;
}

.page-title {
  margin: 0 3rem;
}

/* CSS Search */

.search-movies-container {
  margin: 0 3rem;
}

.search-movies-input {
  all: unset;
  color: aliceblue;
  border: 1px rgb(253, 95, 95) solid;
  border-radius: 10px 0 0 10px;
  padding: 8px;
  cursor: pointer;
}

.search-movies-button {
  all: unset;
  color: aliceblue;
  border: 1px rgb(253, 95, 95) solid;
  border-radius: 0 10px 10px 0;
  padding: 8px;
  cursor: pointer;
}

/* CSS Movie Page */

.movie-page-container {
  height: 100%;
  background-size: cover;
  border-radius: 30px;
}

.movie-title-container {
  width: auto;
}

/* CSS Cast */
.cast-container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 2rem 0;
}

.cast-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 90px;
  height: 150px;
  margin: 0 5px;
}

.cast-img {
  border-radius: 10px;
}

.cast-name {
  font-size: 12px;
  text-align: center;
}

/* CSS Genres */

.genres-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 1rem 0 3rem 0;
}

.genre-name-container {
  border: 1px white solid;
  border-radius: 10px;
  padding: 3px 5px;
  margin: 0 0.5rem;
}

.genre-name {
  font-size: 14px;
}

/* CSS Stars */
.stars-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.stars-container > * {
  margin: 0 0.2rem;
}
