* {
  margin: 0;
  padding: 0;
}

:root {
  --details-color-1: #007aff;
}

/*  */
/* CSS Body */
body {
  background-color: #171718;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

/*  */
/* CSS Home */

.home-container {
  height: 90vh;
  width: 100%;
  margin: 3rem 0 0 0;
}

.home-movie-container {
  height: 100%;
  border-radius: 10px;
  background-size: contain;
}

.swiper-wrapper {
  height: 92%;
}

.movie-background-container {
  background-size: cover;
  background-repeat: no-repeat;
  height: 98%;
}

.background-cover-container {
  background: linear-gradient(
    90deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(36, 36, 36, 1) 5%,
    rgba(83, 100, 141, 0) 90%
  );

  height: 98%;
  padding: 1rem 0 0 3rem;
}

.home-img-stars-container {
  display: flex;
  flex-direction: column;
}

.movie-date {
  margin: 0.25rem 0;
}

.home-movie-title {
  font-size: 50px;
  margin: 0.25rem 0;
}

.home-poster-overview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 0 6rem;
}

.home-img-stars-container {
  margin: 2rem;
}

.home-overview-button-container {
  height: auto;
  width: 35vw;
  margin: 1rem 2rem;
}

.home-overview {
  font-size: 25px;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

.home-movie-poster {
  height: 22.5rem;
  width: auto;
  border-radius: 10px;
}

.home-button {
  all: unset;
  font-weight: 700;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.home-button:hover {
  transition: 0.2s;
  color: var(--details-color-1);
  border: 3px solid var(--details-color-1);
}

.spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 99vw;
  background-color: #171718;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* M */
@media (max-width: 960px) {
  .movie-background-container {
    height: 80vh;
  }

  .home-movie-title {
    font-size: 36px;
    margin: 0.5rem 0;
  }

  .home-poster-overview-container {
    margin: 0;
    align-items: start;
  }

  .home-overview-button-container {
    width: 45vw;
    margin: 1rem;
  }

  .home-overview {
    font-size: 16px;
    font-weight: 300;
    margin: 0rem 0 1rem 0;
  }

  .home-img-stars-container {
    margin: 1vw 6vw;
  }

  .home-movie-poster {
    height: 16rem;
    width: auto;
    border-radius: 10px;
  }

  .home-button {
    padding: 5px 12px;
  }
}

/* S */
@media (max-width: 600px) {
  .movie-background-container {
    height: 90vh;
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home-movie-title {
    font-size: 30px;
    width: 85vw;
    margin: 0.5rem 0rem 0 1rem;
  }

  .home-movie-release-date {
    margin: 0.5rem 0rem 0 1rem;
  }

  .stars-container {
    margin: 0.5rem 0rem 0 1rem;
  }
  .home-poster-overview-container {
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .background-cover-container {
    height: 98%;
    padding: 1rem 0 0 0rem;
  }

  .home-overview-button-container {
    width: 85vw;
    margin: 1rem;
  }

  .home-overview {
    font-size: 16px;
    font-weight: 300;
    margin: 0rem 0 1rem 0;
    text-align: center;
  }

  .home-img-stars-container {
    margin: 1vw 6vw;
  }

  .home-movie-poster {
    height: 19rem;
    width: auto;
    border-radius: 10px;
  }

  .home-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }

  .home-button {
    padding: 8px 25px;
  }
}

/* XS */
@media (max-width: 420px) {
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Movies Container */

.container-movies {
  margin: 1rem 2rem;
}

.swiper-pagination {
  position: unset !important;
}

.movies-container-title {
  font-size: 20px;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

/* M */
@media (max-width: 960px) {
}

/* S */
@media (max-width: 600px) {
}

/* XS */
@media (max-width: 420px) {
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Movie card */
.container-movie-card {
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  filter: grayscale(30%);
  transition: 0.5s;
}

.container-movie-card:hover {
  filter: grayscale(0%);
  transition: 0.3s;
}

.title-movie-card {
  font-weight: 300;
  margin: 5px 0 0 0;
  transition: 0.3s;
}

.container-movie-card:hover .title-movie-card {
  color: var(--details-color-1);
  transition: 0.3s;
}

.img-movie-container {
  cursor: pointer;
  width: 13vw;
}

.img-movie {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid transparent;
}

.container-movie-card:hover .img-movie {
  transition: 0.3s;
  border: 2px solid var(--details-color-1);
}

a {
  text-decoration: none;
  all: unset;
}

.title-movie-card {
  font-size: medium;
  text-align: center;
  color: aliceblue;
}

/* M */
@media (max-width: 960px) {
  .img-movie-container {
    width: 17vw;
  }
}

/* S */
@media (max-width: 600px) {
  .img-movie-container {
    width: 26vw;
  }
}

/* XS */
@media (max-width: 420px) {
  .img-movie-container {
    width: 38vw;
  }
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Nav */

.navigation-container {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
  background-color: #171718;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  border-radius: 8px;
}

.page-title {
  margin: 0 3rem;
  cursor: pointer;
}

/* M */
@media (max-width: 960px) {
  .page-title {
    margin: 0 0 0 1rem;
    font-size: large;
  }
}

/* S */
@media (max-width: 600px) {
  .page-title {
    margin: 0 0 0 0.3rem;
    font-size: small;
  }
}

/* XS */
@media (max-width: 420px) {
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Search */

.search-movies-container {
  margin: 0 3rem;
}

.search-movies-input {
  all: unset;
  border-radius: 10px 0 0 10px;
}

.search-movies-button {
  all: unset;
  border-radius: 0 10px 10px 0;
}

.searcher-item {
  color: aliceblue;
  border: 1px var(--details-color-1) solid;
  padding: 8px;
  cursor: pointer;
}

/* M */
@media (max-width: 960px) {
  .search-movies-container {
    font-size: 14px;
    margin: 0 1rem 0 0;
  }

  .searcher-item {
    color: aliceblue;
    border: 1px var(--details-color-1) solid;
    padding: 6px;
    cursor: pointer;
  }
}

/* S */
@media (max-width: 600px) {
  .search-movies-container {
    font-size: 12px;
    margin: 0 0.5rem 0 0;
  }

  .searcher-item {
    color: aliceblue;
    border: 1px var(--details-color-1) solid;
    padding: 4px;
  }
}

/* XS */
@media (max-width: 420px) {
  .search-movies-container {
    font-size: 11px;
    margin: 0 0.25rem 0 0;
    display: flex;
    justify-content: end;
  }

  .searcher-item {
    color: aliceblue;
    border: 1px var(--details-color-1) solid;
    padding: 3px;
  }

  .search-movies-input {
    width: 48%;
  }
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Movie Page */

.movie-page-container {
  height: auto;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.movie-title-container {
  width: auto;
  margin: 1rem 0rem 3rem 3rem;
}

.movie-tagline {
  margin: 0.25rem 0;
  font-size: 30px;
  font-weight: 200;
}

.movie-overview-container {
  height: auto;
  width: 50vw;
  margin: 0rem 3rem;
}

.movie-overview {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

.serie-data-container {
  margin: 0 0 0 2rem;
}

.trailer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trailer-reproductor {
  height: 450px;
  width: 60vw;
  margin: 3rem 0 4rem 0;
}

.trailer-reproductor > iframe {
  width: -webkit-fill-available;
}

/* M */
@media (max-width: 960px) {
}

/* S */
@media (max-width: 600px) {
}

/* XS */
@media (max-width: 420px) {
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Cast */
.cast-component-container {
  margin: 0 0 2rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.cast-section {
  margin: 3rem 1rem;
}

.cast-container {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.cast-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 90px;
  height: auto;
  margin: 5px 5px;
}

.cast-img-container {
  height: 120px;
  width: 80px;
}

.cast-img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.cast-name {
  font-size: 12px;
  text-align: center;
}

/* M */
@media (max-width: 960px) {
  .cast-component-container {
    flex-direction: column;
  }

  .cast-section {
    margin: 1rem 0.2rem;
  }

  .cast-container {
    width: auto;
  }
}

/* S */
@media (max-width: 600px) {
  .cast-card {
    width: 90px;
    height: auto;
    margin: 5px 5px;
  }

  .cast-img-container {
    height: 90px;
    width: auto;
  }

  .cast-img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
}

/* XS */
@media (max-width: 420px) {
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Genres */

.genres-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 1rem 0 1rem 0;
}

.genre-name-container {
  border: 1px white solid;
  border-radius: 10px;
  padding: 3px 5px;
  margin: 0 0.5rem;
}

.genre-name {
  font-size: 14px;
}

/* M */
@media (max-width: 960px) {
}

/* S */
@media (max-width: 600px) {
}

/* XS */
@media (max-width: 420px) {
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Stars */
.stars-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.stars-container > * {
  margin: 0 0.2rem;
}

/* M */
@media (max-width: 960px) {
}

/* S */
@media (max-width: 600px) {
}

/* XS */
@media (max-width: 420px) {
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Search Results */
.search-results-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

/* M */
@media (max-width: 960px) {
}

/* S */
@media (max-width: 600px) {
}

/* XS */
@media (max-width: 420px) {
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}

/*  */
/* CSS Footer */

#footer {
  height: 5em;
}

#footer,
.footer-content-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-content-container {
  color: #fff;
  height: 100%;
}

.footer-text {
  font-size: small;
  font-weight: 100;
}

/* M */
@media (max-width: 960px) {
}

/* S */
@media (max-width: 600px) {
}

/* XS */
@media (max-width: 420px) {
}

/* Landscape */
@media (orientation: landscape) and (max-width: 960px) and (max-height: 600px) {
}
